html {
  font-size: 62.5%;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Helvetica Neue';
  font-weight: bold;
}

button,
button:focus,
button:active {
  outline: none;
}

input:focus {
  outline: none;
}

.b-w-btn {
  border-radius: 0.8rem;
  border: 1px solid #000;
  background: #fff;
  font-size: 1.4rem;
  padding: 1rem 1.8rem;
}

.b-w-btn:hover {
  background: #000;
  color: #fff;
  cursor: pointer;
}

.Login {
  text-align: center;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.Login h1 {
  font-size: 6.4rem;
  margin-bottom: 5.1rem;
}

.Login .btn {
  width: 50.2rem;
  height: 10.2rem;
  color: #fff;
  font-size: 3.6rem;
  margin-bottom: 4.1rem;
  border: none;
}

.Login .facebook-btn {
  background-color: #324d8f;
}

.Login .github-btn {
  background-color: #202429;
}

.Project {
  position: relative;
  width: calc(33% - 9rem);
  margin: 4.5rem;
  border-radius: .5rem;
  border: 1px solid #000;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.Project:hover {
  background: #eee;
  cursor: pointer;
}

.Project .project-name,
.Project .project-desc {
  padding-left: 1rem;
  padding-right: 1rem;
}

.Project .project-name {
  font-size: 3.6rem;
}

.Project .project-desc {
  flex: 1;
  font-size: 1.8rem;
}

.Project .remove-btn {
  background: #eee;
  border-radius: 100%;
  width: 2.5rem;
  height: 2.5rem;
  position: absolute;
  right: -1.4rem;
  top: -1.4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  display: none;
}

.Project:hover .remove-btn {
  display: flex;
}

.Project:hover .remove-btn:hover {
  background: #000;
  color: #fff;
}


.Project .remove-btn img {
  height: 60%;
}

.projects-container {
  padding-left: 10rem;
  padding-right: 10rem;
  display: flex;
  flex-wrap: wrap;
  margin-top: 13.5rem;
}

.App .add-new-project-btn {
  position: absolute;
  right: 3.5rem;
  top: 2.9rem;
}

.AddNewProject {
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.AddNewProject .overlay {
  content: "";
  background-color: rgba(0, 0, 0, .6);
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 0;
}

.AddNewProject .modal-container {
  z-index: 1;
}

.AddNewProject .modal {
  width: 70.8rem;
  height: 56.9rem;
  border-radius: 3rem;
  background-color: #fff;
}

.AddNewProject .modal-container .close-btn {
  float: right;
  background: none;
  border: none;
  position: relative;
  right: -7rem;
  top: -7rem;
}

.AddNewProject .modal .form-container {
  width: 100%;
  text-align: center;
  display: flex;
  justify-content: center;
}

.AddNewProject .modal form {
  text-align: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.AddNewProject .modal form h2 {
  font-size: 4.8rem;
}

.AddNewProject form input {
  width: 37.6rem;
  height: 6.5rem;
  border-radius: 3rem;
  border: 1px solid #000;
  font-size: 2.4rem;
  text-align: center;
}

.AddNewProject form input.desc-input {
  margin-top: .9rem;
}

.AddNewProject form input::placeholder {
  opacity: .6;
}

.AddNewProject form button {
  margin-top: 3rem;
  font-size: 2.4rem;
  border-radius: 2.8rem;
  padding: 1rem 3.8rem;
}
